.post-card {
    width: 300px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .categoryAndPlace{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .title{
    width: 100%;
  }